body {
	background-color: #232323;
	margin: 0;
	font-family: sans-serif;
	/*font-weight: lighter;*/
}

.square {
	width: 30%;
	margin: 1.66%;
	background-color: blue;
	padding-bottom: 30%; /*Adds some "space" to empty div*/
	float: left;
	border-radius: 15%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

#container {
	max-width: 600px;
	margin: 20px auto; /*Centers the grid*/
}

h1 {
	text-align: center;
	line-height: 1.1;
	color: white;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 200%;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
}

#message {
	display: inline-block;
	width: 20%;
}

.selected {
	background: steelblue;
	color: white;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}